.about {
  margin-bottom: 132px;

  @media(max-width: 990.99px) {
    margin-bottom: 98px;
  }
  @media (max-width: 767.99px) {
    margin-bottom: 48px;
  }

  .stats__banner {
    position: relative;
    max-width: 1080px;
    margin: 0 auto 99px;
    padding: 36px 0 51px 56px;
    border-radius: 24px;
    background: linear-gradient(99deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.14) 13.21%, rgba(255, 55, 48, 0.00) 13.24%), #FFF;

    @media (max-width: 990.99px) {
      margin-bottom: 75px;
    }

    @media (max-width: 767.99px) {
      margin-bottom: 48px;
      padding: {
        left: 24px;
        right: 24px;
        bottom: 0;
      };
      text-align: center;
    }

    .stats__banner-logo {
      margin-bottom: 18px;

      img {
        @media (max-width: 767.99px) {
          display: block;
          margin: 0 auto;
        }
      }
    }

    .stats__gold-partner {
      margin-bottom: 19px;
      font-size: 32px;
      font-weight: 300;
      line-height: 120%;
      color: #474747;

      @media(max-width: 990.99px) {
        font-size: 28px;
      }
    }

    .stats__description {
      max-width: 431px;
      margin-bottom: 49px;

      @media (max-width: 767.99px) {
        margin: 0 auto 24px;
      }
    }

    .stats__info-wrapper {
      gap: 40px;

      @media (max-width: 767.99px) {
        justify-content: center;
        margin-left: 0;
      }

    }

    .stats__info {
      width: fit-content;
      padding: 0;

      .stats {
        margin-bottom: 0;
        display: inline-block;
        font-size: 40px;
        font-style: normal;
        font-weight: 800;
        line-height: 120%;
        letter-spacing: 2.8px;
        text-transform: uppercase;
        color: #fff;
        filter: drop-shadow(1px 1px 0 #0082FF) drop-shadow(-1px -1px 0 #0082FF) drop-shadow(1px -1px 0 #0082FF) drop-shadow(-1px 1px 0 #0082FF);
      }
    }

    .stats__banner-img {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 467px;
      object-fit: contain;

      @media (max-width: 1199.99px) {
        width: 520px;
      }

      @media (max-width: 990.99px) {
        width: 413px;
      }

      @media (max-width: 767.99px) {
        position: static;
        display: block;
        margin: 0 auto;
      }
    }
  }

  .stats__certificate {
    max-width: 1080px;
    margin: 0 auto 58px;

    @media(max-width: 767.99px) {
      margin-bottom: 24px;
    }

    .stats__certificate-prev {
      max-width: 584px;

      @media (max-width: 950.99px) {
        margin: 0 auto 24px;
      }
    }

    .stats__info-wrapper {
      max-width: 461px;

      @media (max-width: 950.99px) {
        display: flex;
        justify-content: space-between;
        max-width: 584px;
        margin: 0 auto;
        text-align: center;
      }

      @media (max-width: 567.99px) {
        flex-direction: column;
      }
    }

    .stats__info {
      display: flex;
      padding: 0;
      margin-bottom: 16px;
      @media (max-width: 950.99px) {
        flex-direction: column;
      }

      .stats {
        margin: {
          right: 12px;
          bottom: 0;
        };
        display: inline-block;
        font-size: 40px;
        font-style: normal;
        font-weight: 800;
        line-height: 120%;
        letter-spacing: 2.8px;
        text-transform: uppercase;
        color: #f4f7f7;
        filter: drop-shadow(1px 1px 0 #FF8300) drop-shadow(-1px -1px 0 #FF8300) drop-shadow(1px -1px 0 #FF8300) drop-shadow(-1px 1px 0 #FF8300);
        @media (max-width: 950.99px) {
          margin: {
            right: 0;
          };
        }
      }

      .text {
        margin: {
          left: 12px;
        };
        @media (max-width: 950.99px) {
          margin: {
            left: 0;
          };
        }
      }
    }
  }

  .stats__specialist {
    max-width: 985px;
    margin: 0 auto;

    @media (max-width: 767.99px) {
      flex-direction: column;
    }

    .stats__specialist-years {
      display: flex;
      flex-direction: column;
      width: fit-content;
      margin-right: 59px;
      @media (max-width: 767.99px) {
        margin: {
          right: 0;
          bottom: 12px;
        };
        text-align: center;
      }


      .stats {
        display: inline-block;
        font-size: 40px;
        font-style: normal;
        font-weight: 800;
        line-height: 120%;
        letter-spacing: 2.8px;
        text-transform: uppercase;
        color: #f4f7f7;
        filter: drop-shadow(1px 1px 0 #0082FF) drop-shadow(-1px -1px 0 #0082FF) drop-shadow(1px -1px 0 #0082FF) drop-shadow(-1px 1px 0 #0082FF);
      }
    }

    .stats__specialist-prev {
      width: fit-content;
    }

    .stats__specialist-list {
      display: flex;
      align-items: center;
    }

    .stats__specialist-item {
      width: 100px;
      height: 100px;
      border: 7px solid #F4F7F7;
      border-radius: 50%;

      @media (max-width: 567.99px) {
        width: 80px;
        height: 80px;
      }

      &--big {
        z-index: 20;
        width: 130px;
        height: 130px;
        margin-bottom: 12px;

        @media (max-width: 567.99px) {
          width: 110px;
          height: 110px;
        }
      }

      &.two,
      &.four {
        z-index: 19;
      }

      &.one,
      &.five {
        z-index: 18;
      }

      &.two,
      &.one {
        margin-right: -30px;
      }

      &.four,
      &.five {
        margin-left: -30px;
      }

    }
  }
}

#certificateModal {
  .modal-content {
    border: none;
    background-color: transparent;
  }

  .button-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    margin-bottom: 12px;
  }

  .slick-prev,
  .slick-next {
    width: 48px;
    height: 48px;
    border-radius: 16px;
    border: 1.5px solid #dfdfdf;
    background: #fff;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, .08);
    transform: translateY(-50%);
    color: #d9d9d9;
    font-size: 20px;
    transition: .3sease;
  }
  .ceriticate__slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

