.cases {
  margin: {
    bottom: 137px;
  };

  @media (max-width: 990.99px) {
    margin-bottom: 100px;
  }
  @media (max-width: 767.99px) {
    margin-bottom: 50px;
  }

  h2 {
    margin-bottom: 18px;
    font-size: 48px;
    font-weight: 400;
    line-height: 160%;
    color: #242424;
    text-align: center;

    b {
      font-weight: 700;
    }

    @media(max-width: 767.99px) {
      margin-bottom: 18px;
      font-size: 32px;
      text-align: center;
    }
  }

  .cases__description {
    margin-bottom: 25px;
    color: #242424;
    font-size: 21px;
    font-weight: 500;
    line-height: 160%;
    text-align: center;

    @media (max-width: 768px) {
      font-size: 16px;
    }

    span {
      color: #0082FF;
    }
  }

  .partners {
    margin-bottom: 105px;

    &__slider {
      .slick-track {
        display: flex;
      }

      .hero__partners-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex: 0 0 auto;
        height: auto;
        margin: 0 30px;

        img {
          margin: {
            top: 12px;
            bottom: 12px;
          };
        }
      }
    }
  }

  .cases__baner {
    position: relative;
    max-width: 638px;
    margin: 0 auto 106px;

    @media (max-width: 767.99px) {
      margin-bottom: 53px;
    }

    .one {
      margin-bottom: 25px;
      color: #242424;
      font-size: 32px;
      font-weight: 800;
      line-height: 120%;

      @media (max-width: 990.99px) {
        margin-bottom: 16px;
        font-size: 28px;
      }
    }

    .two {
      display: inline-block;
      font-size: 111px;
      font-weight: 900;
      line-height: 120%;
      letter-spacing: 2.8px;
      text-transform: uppercase;
      color: #fff;
      filter: drop-shadow(1px 1px 0 #0082FF) drop-shadow(-1px -1px 0 #0082FF) drop-shadow(1px -1px 0 #0082FF) drop-shadow(-1px 1px 0 #0082FF);

      @media (max-width: 990.99px) {
        font-size: 86px;
      }

      @media (max-width: 767.99px) {
        font-size: 67px;
      }
    }

    .three {
      font-size: 32px;
      font-weight: 400;
      line-height: 140%;
      color: #242424;
      @media (max-width: 990.99px) {
        font-size: 28px;
      }
      @media (max-width: 767.99px) {
        font-size: 18px;
      }
    }

    .img {
      position: absolute;
      top: -48px;
      right: 76px;
      z-index: -1;

      @media (max-width: 990.99px) {
        top: -69px;
        right: 158px;
      }
      @media (max-width: 767.99px) {
        right: 0;
      }
    }
  }

  .cases__inner {
    max-width: 1058px;
    margin: 0 auto;
  }

  .tabs-container {
    display: flex;

    @media (max-width: 990.99px) {
      flex-direction: column;
    }
  }

  .tab-content {
    > .active {
      display: flex;
    }
  }

  .nav-tabs {
    padding: {
      top: 50px;
      bottom: 50px;
    };
    max-width: 252px;
    width: 100%;
    flex-direction: column;
    border: none;
    margin-right: 20px;

    @media (max-width: 990.99px) {
      padding: {
        top: 25px;
        bottom: 25px;
      };
      flex-direction: row;
      max-width: 100%;
    }

    @media (max-width: 767.99px) {
      flex-wrap: nowrap;
      align-items: center;
      overflow: auto;
    }
  }

  .nav-tabs {
    .nav-link {
      width: 100%;
      margin-bottom: 4px;
      padding: 12px;
      color: #242424;
      font-size: 12px;
      font-weight: 700;
      line-height: 100%;
      text-align: left;
      border: 1px solid transparent;
      border-radius: 24px;

      &.active {
        background-color: #0082FF;
        color: #fff;
        border-color: #0082FF;
      }

      @media(max-width: 767.99px) {
        text-align: center;
      }
    }
  }

  .tab-content {
    flex: 1;

    .tab-pane {
      position: relative;
      justify-content: space-between;
      overflow: hidden;

      @media (max-width: 767.99px) {
        flex-direction: column;
      }
    }

    .tab-presentation {
      display: flex;
      flex-direction: column;
      max-width: 344px;
      border-radius: 24px;
      overflow: hidden;
      background: linear-gradient(0deg, #242424 0%, #242424 100%), linear-gradient(180deg, #242424 24.93%, #6E6E6E 100%);

      @media (max-width: 767.99px) {
        max-width: 100%;
      }

      &--top {
        padding: 48px;
        color: #fff;

        @media (max-width: 767.99px) {
          padding: 32px;
        }

        h3 {
          margin-bottom: 24px;
          font-size: 36px;
          font-weight: 800;
          line-height: 120%;

          @media (max-width: 767.99px) {
            margin-bottom: 18px;
            font-size: 28px;
          }
        }

        p {
          margin-bottom: 24px;
          font-size: 14px;
          font-weight: 400;
          line-height: 140%;
        }

        ul {
          li {
            font-size: 14px;
            font-weight: 400;
            line-height: 200%;
          }
        }
      }

      &--bottom {
        flex: 1;

        img {
          height: 100%;
          object-fit: cover;

          @media (max-width: 767.99px) {
            width: 100%;
          }
        }
      }
    }

    .tab-info {
      max-width: 404px;
      padding: {
        left: 12px;
        top: 49px;
      };

      .cases__results {
        margin-bottom: 56px;

        @media (max-width: 767.99px) {
          margin-bottom: 28px;
        }

        li {
          margin-bottom: 48px;

          @media (max-width: 767.99px) {
            margin-bottom: 24px;
          }

          .text-with-border {
            margin-bottom: 12px;
            font-size: 32px;
            font-weight: 800;
            line-height: 120%;
            color: #fff;
            filter: drop-shadow(1px 1px 0 #0082FF) drop-shadow(-1px -1px 0 #0082FF) drop-shadow(1px -1px 0 #0082FF) drop-shadow(-1px 1px 0 #0082FF);
          }

          .small-text {
            color: #242424;
          }
        }
      }

      @media (max-width: 767.99px) {
        padding: 32px 24px 0 24px;
      }
    }

    .cases__task-title {
      margin-bottom: 28px;
      font-size: 24px;
      font-weight: 800;
      line-height: 120%;
      color: #242424;
    }

    .cases__tasks {
      li {
        display: flex;
        align-items: start;
        gap: 12px;

        &:not(:last-child) {
          margin-bottom: 32px;
        }

        .icon {
          flex: 0 0 16px;
          width: 16px;
          height: 16px;
          border-radius: 50%;
          background-color: #FF8300;
          text-align: center;
          color: #fff;
        }
      }
    }
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(15%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.tab-pane.fade.show.active {
  animation: slideInFromRight 0.7s ease;
}

.tab-pane.fade:not(.show) {
  animation: fadeOut 0.5s ease;
}

.tab-pane.fade:not(.show) {
  display: none;
}

.tab-pane.fade.show.active {
  display: flex;
}
