.feedback {
  margin-bottom: 123px;

  @media (max-width: 990.99px) {
    margin-bottom: 100px;
  }
  @media (max-width: 767.99px) {
    margin-bottom: 50px;
  }

  h2 {
    font-size: 38px;
    font-weight: 700;
    line-height: 160%;
    color: #242424;

    @media (max-width: 990.99px) {
      font-size: 30px;
    }
    @media (max-width: 767.99px) {
      margin-bottom: 24px;
      font-size: 24px;
      text-align: center;
    }
  }

  .feedback__inner {
    max-width: 1058px;
    margin: 0 auto;
  }

  .feedback__form-wrapper {
    padding: 55px 27px 49px;
    border-radius: 24px;
    background: #FFF;

    @media (max-width: 990.99px) {
      padding: 37px 27px;
    }

    h3 {
      max-width: 391px;
      margin: 0 auto 34px;
      font-size: 24px;
      font-weight: 500;
      line-height: 120%;
      color: #242424;
      text-align: center;

      @media (max-width: 767.99px) {
        font-size: 20px;
      }
    }

    input[name='tel'],
    input[name='fio'],
    {
      margin-bottom: 25px;
      padding: 20px;
      border-radius: 10px;
      border: 1px solid #BFBFBF;

      &::placeholder {
        color: #ABABAB;
        line-height: 100%;
        letter-spacing: 1.12px;
      }
    }

    button[type=submit] {
      width: 100%;
      margin-bottom: 20px;
      padding: 20px;
      font-size: 16px;
      font-weight: 700;
      line-height: 100%;
      letter-spacing: 1.12px;
      color: #242424;
      text-align: center;
      text-transform: uppercase;
      border-radius: 16px;
      border: 1.5px solid #0082FF;
      transition: .3s ease;

      &:hover {
        opacity: .7;
      }
    }

    input[type=checkbox] {
      width: 17px;
      height: 17px;
      box-shadow: none;
      border-color: #A3A3A3;
      transition: .3s ease;

      &:checked {
        background-color: #A3A3A3;
      }

      & ~ label {
        margin-left: 10px;
        font-size: 11px;
        line-height: normal;
        color: #939393;
      }
    }
  }
}
