.footer {
  padding: {
    top: 44px;
  };
  background-color: #242424;
  color: #F4F7F7;

  @media (max-width: 767.99px) {
    padding: {
      top: 24px;
    };
  }

  .footer__inner {
    padding: 0 69px;

    @media (max-width: 991.99px) {
      padding: 0;
    }
  }

  .text {
    font-size: 12px;
    opacity: 0.4;
  }

  address {
    a {
      transition: .3s ease;

      &:hover {
        opacity: 1;
      }
    }
  }

  .footer__logo {
    display: inline-block;
    margin-bottom: 85px;

    @media (max-width: 767.99px) {
      margin-bottom: 38px;
    }
  }

  .footer__contact-inner {
    margin-bottom: 73px;

    @media (max-width: 1199.99px) {
      margin-bottom: 50px;
    }
    @media (max-width: 767.99px) {
      margin: {
        top: 24px;
        bottom: 24px;
      };
    }
  }

  .footer__phone {
    font-size: 40px;
    font-weight: 700;
    line-height: 114%;
    color: #F4F7F7;

    @media (max-width: 1199.99px) {
      display: block;
      margin-bottom: 24px;
    }

    @media (max-width: 567.99px) {
      font-size: 32px;
    }
  }

  .footer__callback {
    padding: 16px 21px;
    border-radius: 12px;
    border: 1.5px solid #0082FF;
    color: #FFF;
    text-align: center;
    font-size: 10px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    transition: .3s ease;

    &:hover {
      opacity: .7;
    }
  }

  .footer__mail {
    display: inline-block;
    margin-bottom: 38px;
    font-size: 24px;
    font-weight: 700;
    line-height: 114%;
    color: #F4F7F7;

    @media (max-width: 567.99px) {
      margin-bottom: 24px;
    }
  }

  .footer__text {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 22.4px */
  }

  .footer__top {
    margin-bottom: 109px;

    @media (max-width: 567.99px) {
      margin-bottom: 50px;
    }
  }

  .social__list {
    display: flex;
    gap: 24px;
    margin: {
      top: 32px;
      bottom: 15px;
    };
  }

  .footer__bottom {
    padding: 16px 0 24px;
    font-size: 12px;
    color: #F4F7F7;
    border-top: 1px solid #323232;

    button {
      color: #fff;
      transition: .3s ease;

      &:hover {
        opacity: 1;
      }

      @media (max-width: 767.99px) {
        padding: {
          top: 12px;
          bottom: 12px;
        };
      }
    }
  }
}
