.header {
  margin: {
    bottom: 6vh;
  };
  padding: {
    top: 23px;
  };

  @media (max-width: 767.99px) {
    padding-bottom: 24px;
    background-color: #fff;
  }

  .header__logo,
  .header__navbar {
    padding: 0;
  }

  .header__list {
    max-width: 575px;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
  }

  .header__link {
    position: relative;
    padding: {
      left: 0 !important;;
      right: 0 !important;;
    };
    color: #030303;
    font-size: 17px;
    font-weight: 400;
    line-height: 114%;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      width: 0;
      bottom: 3px;
      height: 2px;
      background-color: #0082FF;
      transition: .3s ease;
    }

    &:hover {
      &::before {
        width: 100%;
      }
    }
  }

  .header__hamb {
    .dropdown-toggle {
      padding: 10px;
      font-size: 20px;
      color: #fff;
      background-color: #0d6efd;
      border-radius: 12px;

      &::after {
        display: none;
      }

      .bi-x-lg {
        display: none;
      }

      &.show {
        .bi-x-lg {
          display: inline-block;
        }

        .bi-list {
          display: none;
        }
      }

    }

    .dropdown-menu[data-bs-popper] {
      left: auto;
      right: 0;
      width: 320px;
      margin-top: 14px;
      padding: 12px;

      @media (max-width: 767.99px) {
        right: -25px;
        width: 100vw;
        border: none;
      }

      a {
        width: fit-content;
        padding: 12px;

        @media (max-width: 767.99px) {
          margin: 0 auto;
        }
      }
    }

    @media (max-width: 991.99px) {
      order: 3;
    }
    @media (max-width: 767.99px) {
      order: 0;
    }
  }

  .navbar-collapse {
    @media (max-width: 991.99px) {
      display: none;
    }
  }

  .header__contact {
    gap: 17px;
    padding: {
      left: 20px;
    };

    @media (max-width: 1098px) {
      flex-direction: column-reverse;
    }

    @media (max-width: 991.99px) {
      flex-direction: row;
      margin: {
        left: auto;
        right: 24px;
      };
    }
    @media (max-width: 767.99px) {
      display: none !important;
    }
  }

  .header__phone-link {
    color: #030303;
    font-size: 17px;
    font-weight: 700;
    line-height: 114%;
  }

  .header__open-form {
    padding: 16px 17px;
    font-size: 11px;
    letter-spacing: 0.77px;
  }
}
