.header {
  margin: {
    bottom: 101px;
  };
  padding: {
    top: 23px;
  };

  .container-fluid {
    @media (max-width: 767.99px) {
      flex-direction: column;
      justify-content: center;
    }
  }

  .header__list {
    max-width: 575px;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
  }

  .header__link {
    position: relative;
    padding: {
      left: 0 !important;;
      right: 0 !important;;
    };
    color: #030303;
    font-size: 17px;
    font-weight: 400;
    line-height: 114%;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      width: 0;
      bottom: 3px;
      height: 2px;
      background-color: #0082FF;
      transition: .3s ease;
    }

    &:hover {
      &::before {
        width: 100%;
      }
    }
  }

  .header__hamb {
    @media (max-width: 991.99px) {
      order: 3;
    }
  }

  .navbar-collapse {
    @media (max-width: 991.99px) {
      position: absolute;
      top: 70px;
      left: 0;
      right: 0;
      background-color: #fff;
      text-align: center;
      box-shadow: 0px 51.314px 102.627px 0px rgba(70, 71, 78, .2);
      border-radius: 12px;
    }
  }

  .header__contact {
    gap: 17px;
    padding: {
      left: 20px;
    };

    @media (max-width: 1098px) {
      flex-direction: column-reverse;
    }

    @media (max-width: 991.99px) {
      flex-direction: row;
      margin: {
        left: auto;
        right: 24px;
      };
    }
    @media (max-width: 767.99px) {
      flex-direction: column;
      margin: 0 auto 24px;
    }
  }

  .header__phone-link {
    color: #030303;
    font-size: 17px;
    font-weight: 700;
    line-height: 114%;
  }

  .header__open-form {
    padding: 16px 17px;
    font-size: 11px;
    letter-spacing: 0.77px;
  }
}
