.price {
  margin-bottom: 172px;

  @media (max-width: 990.99px) {
    margin-bottom: 100px;
  }
  @media (max-width: 767.99px) {
    margin-bottom: 50px;
  }

  h2 {
    max-width: 490px;
    margin: 0 auto 36px;
    font-size: 48px;
    font-weight: 300;
    line-height: 120%;
    color: #242424;

    @media (max-width: 767.99px) {
      margin-bottom: 24px;
      font-size: 32px;
      text-align: center;
    }

    b {
      font-weight: 800;
    }
  }

  .price__description {
    max-width: 715px;
    margin: 0 auto 47px;
    font-size: 17px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 1.19px;
    color: #515151;

    @media (max-width: 767.99px) {
      margin-bottom: 28px;
      font-size: 15px;
      text-align: center;
    }

    b {
      font-weight: 700;
    }
  }

  .price__inner {
    max-width: 1080px;
    margin: 0 auto;
  }

  .price__change-tarif {
    width: fit-content;
    margin: 0 auto 48px;
    gap: 8px;
    padding: 8px;
    border-radius: 24px;
    background: #E7E7E7;

    button {
      width: fit-content;
      padding: 20px;
      text-align: center;
      font-size: 12px;
      font-weight: 700;
      line-height: 100%;
      color: #838383;
      letter-spacing: 0.84px;
      text-transform: uppercase;
      border-radius: 16px;
      background: #F3F3F3;
      transition: .3s ease;

      &.active {
        background: #0082FF;
        color: #fff;
        box-shadow: 0px 4px 16px rgba(0, 130, 255, 0.3);
      }
    }
  }

  .price__wrapper {
    display: flex;
    margin-bottom: 48px;
    transition: opacity 0.3s ease, transform 0.3s ease;

    .slick-list {
      padding-top: 12px;
    }

    &.d-none {
      opacity: 0;
      transform: translateY(10px);
      pointer-events: none;
    }

    .slick-next,
    .slick-prev {
      position: absolute;
      z-index: 20;
      top: 50%;
      width: 48px;
      height: 48px;
      border-radius: 16px;
      border: 1.5px solid #DFDFDF;
      background: #FFF;
      box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.08);
      transform: translateY(-50%);
      color: #D9D9D9;
      font-size: 20px;
      transition: .3s ease;

      &:hover {
        background-color: #0082FF;
        color: #fff;
      }
    }

    .slick-next {
      right: -20px;
      @media (max-width: 1024px) {
        right: -10px;
      }
    }

    .slick-prev {
      left: -20px;
      @media (max-width: 1024px) {
        left: -10px;
      }
    }
  }

  .slick-track {
    height: 100%;
  }

  .price__card {
    max-width: 344px;
    height: 100%;
    margin: {
      left: 12px;
      right: 12px;
    };
    padding: 40px;
    border-radius: 24px;
    background: #FFF;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    @media (max-width: 1024px) {
      max-width: 100%;
      margin: {
        left: 8px;
        right: 8px;
      };
      padding: 30px;
    }

    @media (max-width: 767.99px) {
      padding: 20px;
    }

    @media (max-width: 479.99px) {
      padding: 16px;
    }


    &:hover {
      transform: translateY(-5px);
      box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
    }

    &--top {
      margin-bottom: 40px;

      .price__card-title {
        margin-bottom: 12px;
        font-size: 20px;
        font-weight: 800;
        color: #242424;
        @media (max-width: 767.99px) {
          font-size: 18px;
        }
        @media (max-width: 479.99px) {
          font-size: 16px;
        }
      }

      .price__card-descr {
        color: #959595;
      }
    }

    &--bottom {
      .price__card-user-count {
        margin-bottom: 20px;
        font-weight: 700;
        color: #959595;

        span {
          color: #0082FF;
        }
      }

      .price__card-tarif-memories {
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 800;
        color: #959595;

        @media (max-width: 767.99px) {
          font-size: 18px;
        }
        @media (max-width: 479.99px) {
          font-size: 16px;
        }

        span {
          color: #0082FF;
        }
      }

      .price__card-tarif-cost {
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 800;
        color: #242424;

        @media (max-width: 767.99px) {
          font-size: 18px;
        }
        @media (max-width: 479.99px) {
          font-size: 16px;
        }
      }

      .price__card-btn {
        width: 100%;
        padding: 20px;
        border-radius: 16px;
        border: 1.5px solid #0082FF;
        color: #242424;
        text-align: center;
        font-size: 12px;
        font-weight: 700;
        line-height: 100%;
        letter-spacing: 0.84px;
        text-transform: uppercase;
        transition: .3s ease;

        @media (max-width: 479.99px) {
          padding: 16px;
        }

        &:hover {
          background-color: #0082FF;
          color: #fff;
        }
      }
    }
  }

  .price__banner {
    padding: 20px;
    border-radius: 24px;
    background: linear-gradient(127deg, rgba(255, 255, 255, 0.50) 0.11%, rgba(255, 255, 255, 0.14) 7.96%, rgba(255, 55, 48, 0.00) 7.99%), linear-gradient(94deg, #242424 68.67%, #0062C8 91.54%), #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1023.99px) {
      padding: 16px;
      flex-direction: column;
      text-align: center;
    }

    @media (max-width: 767.99px) {
      padding: 12px;
    }

    @media (max-width: 479.99px) {
      padding: 10px;
    }

    div {
      font-size: 24px;
      font-weight: 300;
      line-height: 120%;
      color: #fff;

      @media (max-width: 1023.99px) {
        font-size: 20px;
        margin-bottom: 12px;
      }
      @media (max-width: 767.99px) {
        font-size: 18px;
      }
      @media (max-width: 479.99px) {
        font-size: 16px;
      }
    }

    button {
      background: #fff;
      color: #0082FF;
      border: none;
      padding: 12px 24px;
      border-radius: 12px;
      font-weight: 700;
      transition: background-color 0.3s ease;

      @media (max-width: 1023.99px) {
        padding: 10px 20px;
        font-size: 14px;
      }

      @media (max-width: 767.99px) {
        padding: 8px 16px;
        font-size: 12px;
      }
      @media (max-width: 479.99px) {
        padding: 6px 12px;
        font-size: 12px;
      }

      &:hover {
        background-color: #f0f0f0;
      }
    }
  }

  #boxWersion {
    .price__card {
      flex: 1;
      height: auto;
    }
  }
}
