.reviews {
  margin: {
    bottom: 134px;
  };

  h2 {
    max-width: 629px;
    margin: 0 auto 60px;
    font-size: 48px;
    font-weight: 300;
    line-height: 120%;
    color: #242424;

    b {
      font-weight: 800;
    }
  }

  .reviews__inner {
    max-width: 1080px;
    margin: 0 auto 72px;
    gap: 24px;
  }

  .reviews__card {
    width: calc(33.33% - 24px);
    padding: 35px 40px 33px 40px;
    border-radius: 24px;
    background: #FFF;

    .review__user {
      margin-bottom: 13px;
      gap: 24px;
    }

    .review__user-info {
      .review__user-name {
        font-weight: 700;
        color: #242424;
      }

      .review__user-date {
        font-size: 12px;
        font-weight: 500;
        color: #242424;
        opacity: 0.6;
      }
    }

    .reviews__text {
      line-height: 180%;
      color: #242424;
    }
  }

  .reviews__btn-group {
    gap: 24px;

    a {
      height: 56px;
      padding: 0 24px;
      border-radius: 16px;
      color: #242424;
      text-align: center;
      font-size: 12px;
      font-weight: 700;
      line-height: 100%;
      letter-spacing: 0.84px;
      text-transform: uppercase;
      transition: .3s ease;

      &:hover {
        opacity: .7;
      }

      &.reviews__btn-more {
        border: 1.5px solid #0082FF;
      }
      &.reviews__btn-ya {
        gap: 8px;
        background: #E7E7E7;
      }
    }
  }
}
